<div class="row">
	<div class="col-sm-12">
		<h1>Introduction</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<p>The Base Sandbox is meant to be a boilerplate for Ember projects. From here, you should be able to easily customize and build out components quickly and easily. Follow a few simple rules and you'll be on your way to Ember glory.</p>
		<p>A sandbox is essentially a set of building blocks that you'll use to build out your application. Once the sandbox is finished, templates will be able to be built out quickly and easily using the building blocks found in the sandbox.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h3>Building the Sandbox</h3>
		<p>Think of the sandbox as a cross between a style guide and a pattern library. The main purpose of it is to be a collection of every modular piece that you'll need to build the templates for your application.</p>
		<h4>A la carte</h4>
		<p>The sandbox should be structured in a way where components can be pulled and dropped into templates easily. This means the components in the sandbox should be as modular as possible or as needed.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h3>Keep Your Sass in Check</h3>
		<p>This sandbox comes a sass structure that's a modified version of the 7-1 Pattern, with 6 folders containing partials and a single index file to pull them all together.</p>
		<p>We make use of BEM naming conventions and Concentric CSS model of declaration sorting to keep things nice and neat.</p>
		<a href="https://github.com/austinprice/krit-coding-conventions/blob/master/sass.md" targe="_blank">Read our full SASS coding conventions</a>
	</div>
</div>
{{outlet}}
