<div class="row">
	<div class="col-sm-12">
		<h1>Tables</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h3>Standard Table</h3>
		<hr>
	</div>
	<div class="col-sm-8">
		<div class="table-wrapper">
			<table>
			  <thead>
			    <tr>
			      <!-- th widths can be updated if needed once we get real content -->
			      <th width="30%">Name</th>
			      <th width="20%">Role</th>
			      <th width="30%">Email</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><strong>John Michael Dorian</strong></td>
			      <td>Doctor</td>
			      <td>dorianj@sacredheart.com</td>
			    </tr>
			    <tr>
			      <td><strong>Robert Kelso</strong></td>
			      <td>Administrator</td>
			      <td>kelsob@sacredheart.com</td>
			    </tr>
			    <tr>
			      <td><strong>Laverne Roberts</strong></td>
			      <td>Nurse Practitioner</td>
			      <td>robertsl@sacredheart.com</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

{{outlet}}