// --------------------------------------------------------------------
// List Styles
// Styles for all ul's and ol's
// --------------------------------------------------------------------

// Unordered Lists
ol {
  margin: 0;
  padding: 0;
}

// Unordered Lists
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}